// ==========================================================================
// $General
// ==========================================================================

* {
  box-sizing: border-box;
}

body {
  text-align: center;
}

.border-bottom {
  border-bottom: 1px solid $gray;
}

img {
  width: 100%;
}