// ==========================================================================
// $General
// ==========================================================================
* {
  box-sizing: border-box;
}

body {
  text-align: center;
  max-height: 100vh;
  background: rgba(0, 0, 0, .8) url('../img/default4.jpg') no-repeat center center;
}

.border-bottom {
  border-bottom: 1px solid $gray;
}

img {
  width: 100%;
}

