// ==========================================================================
// $Footer
// ==========================================================================

footer {
  text-align: center;
  
  a {
    @extend %base_heading;
    font-size: 1.6em;
    text-decoration: none;
    font-weight: $font-weight-normal;

    color: $pacific_blue;

    &:hover{
      color: $white;
    }
  }
}

// ==========================================================================
// Sticky footer - https://css-tricks.com
// ==========================================================================

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 142px; 
}
