// ==========================================================================
// $Search bar - typeahed plugin
// ==========================================================================
#the-basics {
  opacity: 0;
  animation-name: appear;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.twitter-typeahead {
    margin: 0 auto;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 60%;
  height: 60px;
  padding: 8px 12px;
  font-size: 2em;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;

  // border: 2px solid #fff ;
  color: #fff;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: $white;
  visibility: hidden;
}

.typeahead.tt-input {
  border: 0;
  color: $white;
  font-size: 1.8em;

  @media screen and (min-width: $tablet-large) {
    font-size: 2.2em;
  }
}

.typeahead.tt-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $white;
}

.tt-menu {
  width: 80%;
  margin: 12px 0;
  padding: 8px 0;
  left: 40px !important;
  background-color: $pacific_blue;
  color: $white;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);

  @media screen and (min-width: $screen-small) {
    left: 0 !important;
    width: 100%;
  }
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 20px;
  line-height: 1.6;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p {
  margin: 0;
}

// ==========================================================================
// $List
// ==========================================================================
.list {
  @extend %list-text;

  width: 90%;
  list-style: none;
  perspective: 1000px;

  li {
    // display: none;
    font-size: 1.2em;
    position: relative;
    margin-bottom: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 8px;
    background-color: $pacific_blue;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

    // opacity: 0;

    @for $i from 1 through 9 {
      &:nth-child(#{$i}) {
        animation-name: appear;
        animation-duration: 300ms * $i;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
      }
    }

    img.weather-icon {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -30px;
      margin-top: 5px;

      @media screen and (min-width: $tablet-large) {
        top: 50%;
        left: 75%;
        margin-left: 0;
        margin-top: -30px;
      }
    }
  }

  @media screen and (min-width: $tablet-large) {
    width: 60%;
    margin: 0 auto;
  }

  @media screen and (min-width: $screen-small) {
    width: 40%;
  }

  @media screen and (min-width: $screen-large) {
    width: 30%;
  }
}

// ==========================================================================
// $Icons
// ==========================================================================
.weather-icon {
  margin-left: 20px;
  margin-top: 30px;
  width: 60px;
  display: inline-block;
}

// ==========================================================================
// $Animations
// ==========================================================================
@keyframes appear {
  0% { 
    opacity: 0; 
    transform: rotateY(90deg) translate(30px);
  }
  100% { 
    opacity: 1; 
    transform: rotateY(0deg) translate(0px);
  }
}

